USE [PersonalRecipeTracker_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroceryListForWeek]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetGroceryListForWeek]
    @UserID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        i.Name as IngredientName,
        i.Unit,
        SUM(ri.Quantity) as TotalQuantity
    FROM MealPlans mp
    INNER JOIN Recipes r ON mp.RecipeID = r.RecipeID
    INNER JOIN RecipeIngredients ri ON r.RecipeID = ri.RecipeID
    INNER JOIN Ingredients i ON ri.IngredientID = i.IngredientID
    WHERE mp.UserID = @UserID 
    AND mp.MealDate BETWEEN @StartDate AND @EndDate
    GROUP BY i.Name, i.Unit
    ORDER BY i.Name
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecipesByUser]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRecipesByUser] 
	@UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT r.*
	FROM Recipes r
	WHERE r.UserID = @UserID
	ORDER BY r.DateCreated DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserMealPlansForWeek]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserMealPlansForWeek]
    @UserID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT mp.*, r.Name as RecipeName, r.PrepTime, r.CookTime
    FROM MealPlans mp
    INNER JOIN Recipes r ON mp.RecipeID = r.RecipeID
    WHERE mp.UserID = @UserID 
    AND mp.MealDate BETWEEN @StartDate AND @EndDate
    ORDER BY mp.MealDate, mp.MealType
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MealPlans_Insert]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MealPlans_Insert]
    @UserID INT,
    @RecipeID INT,
    @MealDate DATE,
    @MealType NVARCHAR(20)
AS
BEGIN
    INSERT INTO MealPlans (UserID, RecipeID, MealDate, MealType)
    VALUES (@UserID, @RecipeID, @MealDate, @MealType)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RecipeIngredients_Insert]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RecipeIngredients_Insert]
    @RecipeID INT,
    @IngredientID INT,
    @Quantity DECIMAL(10,2)
AS
BEGIN
    INSERT INTO RecipeIngredients (RecipeID, IngredientID, Quantity)
    VALUES (@RecipeID, @IngredientID, @Quantity)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Recipes_Insert]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Recipes_Insert]
    @Name NVARCHAR(100),
    @Description NVARCHAR(500),
    @PrepTime INT,
    @CookTime INT,
    @Instructions NVARCHAR(2000),
    @UserID INT,
    @DateCreated DATETIME,
    @RecipeID INT OUTPUT
AS
BEGIN
    INSERT INTO Recipes (Name, Description, PrepTime, CookTime, Instructions, UserID, DateCreated)
    VALUES (@Name, @Description, @PrepTime, @CookTime, @Instructions, @UserID, @DateCreated)
    
    SET @RecipeID = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Recipes_Update]    Script Date: 12/12/2025 1:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Recipes_Update]
    @RecipeID INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(500),
    @PrepTime INT,
    @CookTime INT,
    @Instructions NVARCHAR(2000)
AS
BEGIN
    UPDATE Recipes 
    SET Name = @Name, 
        Description = @Description, 
        PrepTime = @PrepTime, 
        CookTime = @CookTime, 
        Instructions = @Instructions
    WHERE RecipeID = @RecipeID
END

GO
