<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PersonalRecipeTrackerConnection" 
			 connectionString= "Server=DESKTOP-INAUOLF; Database=PersonalRecipeTracker_DB; Trusted_Connection=True;" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="ApplicationName" value="Personal Recipe Tracker" />
		<add key="Version" value ="1.0.0" />
		<add key="ServerName" value ="DESKTOP-INAUOLF"/>
	</appSettings>
</configuration>